<table>
  <% @cart.products.each do |product, quantity| %>
      <tr class="order_product_line" id="<%= product.id %>">
        <td class="name"><%= product.name %>:</td>
        <td class="quantity"><span><%= quantity %></span> x</td>
        <td class="price" ><%= product.price %></td>
        <td><div class="edit_order_product"><%= image_tag("edit.jpg") %></div></td>
        <td><%= link_to image_tag("delete.jpg"), cart_products_path(id: product.id), method: "delete", remote: true %></td>
      </tr>
  <% end %>
  <tr class="total_line" >
    <td colspan="2" ><%= t('.total') %></td>
    <td class="price"><%= @cart.total_price %></td>
  </tr>
</table>