<%- model_class = Admin -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<%= link_to(t('.products'), admin_products_path) %> <br />
<%= link_to(t('.characteristics'), admin_characteristics_path) %> <br />
<%= link_to(t('.orders'), admin_orders_path) %> <br />
<%= link_to(t('.categories'), admin_categories_path) %> <br />
<%= link_to(t('.logout'), destroy_admin_session_path, :method => :delete) %>
