<h1> Orders </h1>

<table>
  <tr> 
    <th> User </th>
    <th> Status </th>
    <th> Description </th>
    <th></th>
  </tr>
<% @orders.each do |order| %>
  <tr>
    <td> <%= order.user_email(order.user_id) %> </td>
    <td> <%= order.status %> </td>
    <td> <%= order.description %> </td>
    <td> <%= link_to 'Edit', edit_admin_order_path(order) %> </td>
  </tr>	
<% end %>
</table>
<%= paginate @orders %>
<%= link_to('Back to admin panel', admin_root_path) %>

