<%- model_class = Order -%>
<div class="page-header">
  <h3><%= t("titles.#{controller.controller_name}.#{controller.action_name}") %></h3>
</div>

<table class="table table-striped orders">
  <thead>
    <tr>
      <th><%= t('.user') %></th>
      <th><%= t('.products') %></th>
      <th><%= t('.total_price') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
<% @orders.each do |order| %>
  <tr>
    <td> <%= order.user.try(:email) %> </td>
    <td> <%= products(order.order_products) %> </td>
    <td> <%= order.total_price %> </td>
    <td> <%= select :status, nil, Order::STATUS, { selected: order.status }, { id: order.id, :class => 'select' } %> </td>
    <td> <%= order.description %> </td>
    <td> <%= link_to t('button.delete'), admin_order_path(order), :method => :delete, :class => 'btn btn-mini btn-danger' %> </td>
  </tr>
<% end %>
  </tbody>
</table>
<%= paginate @orders %>
<%= link_to t('button.back_to_admin_panel'), admin_root_path, :class => 'btn' %>

