<%- model_class = Order -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>

<table class="table table-striped orders">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:products) %></th>
      <th><%= model_class.human_attribute_name(:total_price) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
<% @orders.each do |order| %>
  <tr>
    <td> <%= order.user.try(:email) %> </td>
    <td> <%= products(order.order_products) %> </td>
    <td> <%= order.total_price %> </td>
    <td> <%= select :status, nil, Order::STATUS, { selected: order.status }, { id: order.id, :class => 'select' } %> </td>
    <td> <%= order.description %> </td>
    <td> <%= link_to 'Delete', admin_order_path(order), :method => :delete, :class => 'btn btn-mini btn-danger' %> </td>
  </tr>
<% end %>
  </tbody>
</table>
<%= paginate @orders %>
<%= link_to 'Back to admin panel', admin_root_path, :class => 'btn' %>

