<%= form_for @order, :url => { :action => "create" } do |f| %>
<h3> Order </h3>

<p>
  User: <%= current_user.email %> <br />
  <table>
    <% @cart.products.each do |key, value| %>
      <tr>
        <td class="name"><%= key %>:</td>
        <td class="quantity"><%= value[0] %> x</td>
        <td class="price" ><%= value[1] %></td>
      </tr>
    <% end %>
    <tr class="total_line" >
      <td colspan="2" >Total</td>
      <td class="price"><%= @cart.total_price %></td>
    </tr>
  </table>
  Description: <br />
  <%= f.text_area :description %>
</p>
<div>
  <%= f.submit "Add order" %>
</div>
<% end %>

<%= link_to('Back', root_url) %>
