<h3> <%= t('.title') %> </h3>

<%= t('.user') %>: <%= current_user.try(:email) %> <br />
<%= render "/products/cart_data" %>

<%= form_for @order, :url => { :action => "create" } do |f| %>
<span class="error"><%= @order.errors.full_messages.join(" and ") %></span>
<p>
  <%= t('.description') %> <br />
  <%= f.text_area :description %>
</p>
<div>
  <%= f.submit t('.submit') %>
</div>
<% end %>

<%= link_to(t('.back'), root_url) %>
