<h3> Order </h3>

User: <%= current_user.email %> <br />
<%= render "/products/cart_data" %>

<%= form_for @order, :url => { :action => "create" } do |f| %>
<p>
  Contact info: <br />
  <%= f.text_area :description %>
</p>
<div>
  <%= f.submit "Create order" %>
</div>
<% end %>

<%= link_to('To catalog', root_url) %>
