<h3> <%= t("titles.#{controller.controller_name}.#{controller.action_name}") %> </h3>

<%= t('.user') %>: <%= current_user.try(:email) %> <br />
<div id="cart_data">
  <%= render "cart_products/cart_product" %>
</div>

<%= form_for @order, :url => { :action => "create" } do |f| %>
<span class="error"><%= @order.errors.full_messages.join(" and ") %></span>
<p>
  <%= f.label :description %> <br />
  <%= f.text_area :description %>
</p>
<div>
  <%= f.submit t('button.create') %>
</div>
<% end %>

<%= link_to(t('button.back'), root_url) %>
