<%= form_for @category, :url => { :action => action } do |f| %>
    <h3><%= flash[:error] %></h3>

    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :parent_id %><br/>
      <%= f.select(:parent_id, categoty_options(@category)) %>
    </p>

    <p>
      <%= f.submit 'Submit' %>
    </p>
<% end %>
