<h3> Categories </h3>

<table>
  <% @categories.each do |root| %>
      <% root.self_and_descendants.each do |category| %>
          <tr>
            <td><%= "#{'--'*category.level} #{category.name}" %></td>
            <td><%= link_to 'Show', admin_category_path(category) %></td>
            <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
            <td><%= link_to 'Delete', admin_category_path(category), :method => :delete %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= link_to 'Add category', new_admin_category_path %>
<%= link_to('Back to admin panel', admin_root_path) %>

