<%= form_for @product, :url => { :action => action }, :html => { :multipart => true } do |f| %>
    <%= flash[:error] %>
    <div class="product_content">
      <p>
        Product name:
        <%= f.text_field :name %> <br />
        Price:
        <%= f.text_field :price %> <br />
        Description:
        <%= f.text_area :description %> <br />
        Add image:
        <%= f.file_field :image %>
        <%= image_tag (@product.image_url(:thumb) || ''), :name => "preview", :id => "preview", :size => "50x50" %>
      </p>
    </div>

    <div class='characteristics'>
      <%= f.fields_for :product_characteristics do |pc| %>
          <% @characteristics.each do |characteristic|%>
              <%= characteristic.name %>
              <%= pc.text_field(characteristic.id, :value => @product.characteristic_value(characteristic)) %> <br/>
          <% end %>
      <% end %>
    </div>

    <div class="product_button">
      <%= f.submit "Submit" %>
    </div>
<% end %>
<%= link_to 'Back', admin_products_path %>
