<table>
  <% @categories.each do |root| %>
      <% root.self_and_descendants.each do |category| %>
          <tr>
            <td><%= "#{'--'*category.level} #{category.name}" %></td>
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category.id) %></td>
            <td><%= link_to 'Remove', category, :method => :delete %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= link_to 'Add category', new_category_path %>
