<%= form_for @characteristic, :url => { :action => "update" } do |f| %>
  <%= flash[:error] %>
<div class="characteristic_content">
	<p> Наименование характеристики: 
  <%= f.text_field :name %> <br>
	Уровень характеристики: 
	<%= f.text_field :level %> </p>
</div>
<div class="characteristic_button">
  <%= f.submit "Изменить характеристику" %>
	<%= link_to 'Back', admin_characteristics_path %>
</div>
<% end %>
