<%- model_class = Characteristic -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
<% @characteristics.each do |characteristic| %>
  <tr>
    <td> <%= link_to characteristic.name, admin_characteristic_path(characteristic) %> </td>
    <td> <%= characteristic.level %> </td>
    <td> <%= link_to t('.edit'), edit_admin_characteristic_path(characteristic), :class => 'btn btn-mini' %> </td>
    <td> <%= link_to t('.delete'), admin_characteristic_path(characteristic), :method => :delete, :class => 'btn btn-mini btn-danger' %> </td>
  </tr>
<% end %>
  </tbody>
</table>
<%= link_to t('.add'), new_admin_characteristic_path, :class => 'btn btn-primary' %>
<%= link_to t('.back_to_admin_panel'), admin_root_path, :class => 'btn' %>
