<%= form_for @characteristic, :url => { :action => "create" } do |f| %>
  <%= flash[:error] %>
<div class="characteristic_content">
  <p> Наименование характеристики: 
  <%= f.text_field :name %> <br />
  Уровень характеристики: 
  <%= f.text_field :level %> </p>
</div>
<div class="characteristic_button">
  <%= f.submit "Добавить характеристику" %>
</div>
<% end %>
<%= link_to 'Back', admin_characteristics_path %>
