<%- model_class = Characteristic -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('.name') %>:</strong></dt>
  <dd><%= @characteristic.name %></dd>
  <dt><strong><%= t('.level') %>:</strong></dt>
  <dd><%= @characteristic.level %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back'), admin_characteristics_path, :class => 'btn'  %>
  <%= link_to t('.edit'), edit_admin_characteristic_path(@characteristic), :class => 'btn' %>
  <%= link_to t('.destroy'),
              admin_characteristic_path(@characteristic),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

