<%= form_for @characteristic, :url => { :action => "create" } do |f| %>
  <%= flash[:error] %>
	<p> Наименование характеристики: 
  <%= f.text_field :name %> <br>
	Уровень характеристики: 
	<%= f.text_field :level %> </p>
  <%= link_to "Вернуться к списку", admin_characteristics_path %>
<% end %>
