<div id="cart">
  <table>
    <% @cart.items.each do |key, value| %>
      <tr>
        <td><%= key %>:</td>
        <td><%= value[0] %> x</td>
        <td class="price" ><%= value[1] %></td>
      </tr>
    <% end %>
    <tr class="total_line" >
      <td colspan="2" >Total</td>
      <td><%= @cart.total_price %></td>
    </tr>
  </table>
  <div id="destroy">
    <%= link_to "Empty cart", cart_path, :method => :delete, :remote => true %>
  </div>
</div>
