<div class="product">
  <%= link_to image_block(product), product_path(product) %>
  <div class="articul">
    <div>Articul:</div>
    BM: 45435345
  </div><div class="price"><%= sprintf("%.2f", product.price) %> hrn.</div>
  <div class="add_to_cart">
    <span>Add</span>
    <%= text_field_tag :count, 1 %>
    <%= select_tag :box %>
    <%= link_to image_tag("/assets/cart.jpg"), cart_path(:id => product.id), :method => :put, :remote => true %>
  </div>
</div>