<div class="product">
  <%= link_to image_block(product), product_path(product) %>
  <div class="articul">
    <div>Articul:</div>
    BM:45435
  </div><div class="price">
    <span class="integer_part"><%= product.price.truncate %></span>
    <span class="decimal_part"><%= decimal_part(product.price) %></span>
    <span class="currency">hrn.</span>
  </div>
  <div class="add_to_cart">
    <%= form_tag(cart_path, method: :put, remote: true) do %>
      <span>Add</span>
      <%= text_field_tag :count, 1 %>
      <%= hidden_field_tag :id, product.id %>
      <span>шт</span>
      <%= image_submit_tag("/assets/cart.png", class: "image_button") %>
    <% end %>
  </div>
</div>
