<div class="product">
  <%= link_to image_block(product), product_path(product) %>
  <div class="articul">
    <div>Articul:</div>
    BM:45435
  </div><div class="price">
    <span class="integer_part"><%= product.price.truncate %></span>
    <span class="decimal_part"><%= decimal_part(product.price) %></span>
    <span class="currency">hrn.</span>
  </div>
  <div class="add_to_cart">
    <span>Add</span>
    <%= text_field_tag :count, 1 %>
    <%= select_tag :box %>
    <%= link_to image_tag("/assets/cart.png"), cart_path(:id => product.id), :method => :put, :remote => true %>
  </div>
</div>