<% form_for @product, :html => { :multipart => true } do |f| %>
    <h3><%= flash[:error] %></h3>

    <p>
      <%= f.label :caption %><br/>
      <%= f.text_field :caption %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :tech_description %><br/>
      <%= f.text_area :tech_description %>
    </p>
    <p>
      <%= f.label :price %><br/>
      <%= f.text_field :price %>
    </p>
    <p>
      <%= f.label :category %><br/>
      <%= f.select(:category_id, Category.all.map { |c| [c.name, c.id] }) %>
    </p>
    <p>
      <%= f.label :avatar %><br/>
      <%= f.file_field :avatar %>
    </p>

    <p>
      <%= f.submit 'Submit' %>
    </p>
<% end %>