<p>
  <b> <%= t('.name') %>: </b>
  <%= @product.name %>
</p>

<p>
  <b> <%= t('.price') %>: </b>
  <%= @product.price %>
</p>

<p>
  <b> <%= t('.description') %>: </b>
  <%= @product.description %>
</p>

<p>
  <%= image_tag(@product.image_url(:big_thumb)) if @product.image? %>
</p>

<p><%= link_to image_tag("/assets/cart.png"), cart_path(:id => @product.id), :method => :put, :remote => true %></p>

<p><b> <%= t('.characteristics') %>: </b></p>
<div class='characteristics'>
  <table>
    <tr>
      <th> <%= t('.name') %> </th>
      <th> <%= t('.value') %> </th>
    </tr>
    <tr>
     <td><%= 'Brand' %></td>
     <td><%= @product.brand %></td>
    </tr>
    <tr>
      <td><%= 'Code' %></td>
      <td><%= @product.code %></td>
    </tr>
  </table>
</div>

<%= link_to t('button.back'), root_path %>
