<!DOCTYPE html>
<html>
<head>
    <title>OfficeBum</title>
    <%= stylesheet_link_tag    "admin" %>
    <%= javascript_include_tag "admin" %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to(t('menu.admin.panel'), admin_root_path)%></li>
            <li><%= link_to(t('menu.admin.products'), admin_products_path) %></li>
            <li><%= link_to(t('menu.admin.orders'), admin_orders_path) %></li>
            <li><%= link_to(t('menu.admin.categories'), admin_categories_path) %></li>
            <li><%= link_to(t('menu.admin.static_pages'), admin_static_pages_path) %></li>
            <li><%= link_to(t('auth.logout'), destroy_admin_session_path, :method => :delete) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
    </div>
  </div>
</body>
</html>
