<!DOCTYPE html>
<html>
<head>
    <title>OfficeBum</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
    <div id="header">
        Header
    </div>
    <!-- #header-->
    <div id="middle">
        <div id="container">
            <div id="content">
                <%= yield %>
            </div>
            <!-- #content-->
        </div>
        <!-- #container-->
        <div class="sidebar" id="sideLeft">
            <%= yield :side_left %>
        </div>
        <!-- .sidebar#sideLeft -->
        <div class="sidebar" id="sideRight">
            <%= yield :side_right %>
        </div>
        <!-- .sidebar#sideRight -->
    </div>
    <!-- #middle-->
</div>
<!-- #wrapper -->
<div id="footer">
    Footer
</div>
<!-- #footer -->
</body>
</html>
