<!DOCTYPE html>
<html>
<head>
  <title>OfficeBum</title>
  <%= stylesheet_link_tag "store" %>
  <%= javascript_include_tag "store" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <header>
    <%= image_tag "banner.png" %>
    <%= raw tabs(@pages) %>
    <%= link_to "One click order", "#" %>
  </header>

  <div id="main">
    <div class="left">
      <section class="window" id="main_categories">
        <h3>Main categories</h3>
        <%= menu(@menu) %>
      </section>
      <section class="window" id="categories">
        <h3>Categories</h3>
        <%= menu(@menu) %>
      </section>
      <section class="window" id="advertising">
        <h3>Advertising</h3>
      </section>
    </div>

    <div class="right">
      <section class="window" id="login_form">
        <h3>Sign in form</h3>
        <%= render '/layouts/sign_in_part' %>
      </section>
      <section class="window" id="main_product">
        <h3>Main product</h3>
        <% if Product.first %>
          <%= render "products/product", product: Product.first %>
        <% end %>
      </section>
      <section class="window" id="contacts">
        <h3>Contacts</h3>
        8(050)555-55-55
      </section>
    </div>

    <div class="content">
      <section class="window" id="instruments">
        <h3>Instruments</h3>
        <%= breadcrumbs(@categories) || 'breadcrumbs' %>
      </section>
      <section class="window" id="content">
        <%= yield %>
      </section>
    </div>
  </div>

  <%= render 'products/cart' %>
</div>

<footer> Footer:</footer>
</body>
</html>
