<!DOCTYPE html>
<html>
<head>
  <title>OfficeBum</title>
  <%= stylesheet_link_tag "store" %>
  <%= javascript_include_tag "store" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <header>
    <%= image_tag "banner.png" %>
    <menu>
      <li>
        <%= link_to "Catalog", "#" %>
      </li><li class="current">
        <%= link_to "Missiya", "#" %>
      </li><li>
        <%= link_to "Oplata", "#" %>
      </li><li>
        <%= link_to "Dostavka", "#" %>
      </li><li>
        <%= link_to "Contacts", "#" %>
      </li><li>
        <%= link_to "Chto to", "#" %>
      </li>
    </menu>

    <%= link_to "One click order", "#" %>
  </header>

  <div id="main">
    <div class="left">
      <section class="window" id="main_categories"></section>
      <section class="window" id="categories"><%= yield :side_left %></section>
      <section class="window" id="advertising"></section>
    </div>

    <div class="right">
      <section class="window" id="login_form"><%= render '/layouts/sign_in_part' %></section>
      <section class="window" id="main_product"><%= yield :side_right %></section>
      <section class="window" id="contacts">8(050)555-55-55</section>
    </div>

    <div class="content">
      <section class="window" id="instruments"></section>
      <section class="window" id="content"><%= yield %></section>
    </div>
  </div>

  <%= render 'cart' %>
</div>

<footer> Footer:</footer>
</body>
</html>